%smallFont {
   font-size: 0.80em;
}

:host {
   font-size: 1.2em;

   .balance {
      .whole {
         font-weight: bold;
      }

      .decimal {
         @extend %smallFont;
      }
   }

   .symbol {
      @extend %smallFont;
      white-space: pre;
   }
}
