.transaction-stats-summary {
   .title {
      text-align: center;
   }

   .value {
      text-align: center;
   }

   &.as-column {
      > div {
         border-bottom: dashed 1px var(--accent-color);
      }

      .title, .value {
         text-align: left;
      }

      .value {
      }

      .transaction-tags ::ng-deep > div {
         justify-content: normal;
      }
   }

   .transaction-tags {
      mat-chip.mat-standard-chip {
         margin: 0;
      }

      &::ng-deep > div {
         justify-content: center;
      }
   }
}
