@import '~@angular/material/theming';

//https://material.angular.io/guide/typography

@include mat-core();

$app-theme-primary: mat-palette($mat-indigo);
$app-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$app-theme-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-theme-primary, $app-theme-accent, $app-theme-warn);

@include angular-material-theme($app-theme);

$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);
