@using Microsoft.Extensions.Configuration;
@inject IConfiguration config

<div class='row' data-bind="visible:loaded" style="display:none;">
    <div class='body-content text-center'>
        <div class="faucet">
            <h1 class="main-title">GET $TSTRAT FOR TESTING</h1>
            <p>
                You will receive 100 $TSTRAT per request
            </p>
            <form class="center-block">
                <div class="form-group">
                    <input type="text" class="form-control" id="address" data-bind="textInput:address,disable:inProgress" placeholder="Enter your $TSTRAT address">
                </div>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="@config["Captcha:siteKey"]" data-callback="captcha" data-size="400px"></div>
                </div>
                <button type="button" class="btn btn-primary btn-block" data-bind="click:onSendClick, disable: disableSubmit">
                    <i data-bind="visible:inProgress" class="fa fa-refresh fa-spin"></i> Get $TSTRAT
                </button>
                
                <div data-bind="if:result">
                    <div data-bind="with:result">
                        <div data-bind="ifnot:success">
                            <div class="alert alert-danger text-left">
                                <strong>Error!</strong> {{errorMessage}}
                            </div>
                        </div>
                        <div data-bind="if:success">
                            <div class="alert alert-info text-left">
                                <strong>Success! </strong>
                                <span data-bind="if:transactionId">
                                    <a href="https://chainz.cryptoid.info/strat-test/tx.dws?{{transactionId}}.htm" target="_blank">
                                        <strong>Click here </strong>
                                    </a> to track your transaction.
                                    <br />Please note, there may be a short delay for the transaction to be visible.
                                </span>
                                <span data-bind="ifnot:transactionId">
                                    Your request was submitted successfully.
                                    <br />Please check your account balance some time later.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src='https://www.google.com/recaptcha/api.js'></script>
}