<ng-container *ngIf="(selectedBlock$ | async) as block">
   <div class="row mat-elevation-z0" fxLayout="row">
      <button color="accent" fxFlexAlign="end start" mat-raised-button [routerLink]="['/block', block.additionalInformation.blockHeader.hashPrevBlock]">Prev. Block</button>
      <div fxFlex></div>
      <button color="accent" fxFlexAlign="end" mat-raised-button [routerLink]="['/block', (block.additionalInformation.height || 0)+1]">Next. Block</button>
   </div>

   <div class="row">
      <app-block-summary *ngIf="isSelectedBlockLoaded$ | async" [block]="block"></app-block-summary>
   </div>

   <div class="row">
      <app-block-transactions [transactions]="block.block.transactions"></app-block-transactions>
   </div>
</ng-container>

<ng-template #nullBlock>
   <mat-card>
      <mat-card-header>
         <mat-card-title><h1>Block not found</h1></mat-card-title>
      </mat-card-header>
   </mat-card>
</ng-template>
