<ng-container *ngIf="(block$ | async) as block">
   <ng-container *ngIf="blockLoaded$ | async; else fetchingBlock">
      <div class="row">
         <app-block-summary [block]="block"></app-block-summary>
      </div>
      <div class="row">
         <transaction-list [transactions]="block.block.transactions" pageSize="25"></transaction-list>
      </div>
   </ng-container>
</ng-container>

<ng-container *ngIf="blockError$ | async as error">
   <mat-card class="row">
      <mat-card-header>
         <mat-card-title><h1>Error</h1></mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <div>{{error}}</div>
      </mat-card-content>
   </mat-card>
</ng-container>

<ng-template #fetchingBlock>
   <div class="row">
      <mat-card>
         <mat-card-title>Fetching block</mat-card-title>
         <mat-card-subtitle>
            <app-busy-indicator #loading></app-busy-indicator>
         </mat-card-subtitle>
      </mat-card>
   </div>
</ng-template>

<ng-template #nullBlock>
   <mat-card class="row">
      <mat-card-header>
         <mat-card-title><h1>Block not found</h1></mat-card-title>
      </mat-card-header>
   </mat-card>
</ng-template>
