.logo {
   margin-right: 8px;
}

.mat-form-field.search ::ng-deep .mat-form-field-flex {
   transition: background-color 0.5s ease;

   &:hover {
      background-color: var(--primary-darker-color);
   }
}

mat-form-field.search {
   padding: 0 20px;
}
