<mat-toolbar color="primary" [ngStyle]="changeBackground()">
   <mat-toolbar-row>
      <img src="/assets/images/logo.svg" alt="logo" class="logo">

      <h1 class="app-name">{{title}}</h1>

      <mat-form-field fxFlex="grow" class="search">
         <input matInput [(ngModel)]="searchText" id="search-text" type="search" (keyup.enter)="enterPressed()" class="form-control"
                placeholder="Search by Address, TxHash, ..." aria-label="" [ngModelOptions]="{standalone: true}"
                aria-describedby="">
      </mat-form-field>

      <div fxFlex fxLayoutAlign="end" fxHide.xs>
         <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngFor="let link of links">
               <a mat-list-item href="{{link.url}}" class="subheading-2">{{ link.title }}</a>
            </li>
         </ul>
      </div>

      <div fxFlex fxLayoutAlign="end" fxHide.gt-xs>
         <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
         </button>
      </div>
   </mat-toolbar-row>
   <mat-toolbar-row>
      <app-breadcrumb></app-breadcrumb>
   </mat-toolbar-row>
</mat-toolbar>
