.logo {
   margin-right: 8px;
}



.navigation-items {
   list-style-type: none;
   padding: 0;
   margin: 0;

   a {
      font-size: 15px !important;
      text-decoration: none;
      color: white;

      :hover, :active {
         color: lightgray;
      }
   }
}

mat-form-field.search {
   padding: 0 20px;

   & ::ng-deep {
      .mat-form-field-flex {
         padding: 0 10px;
         background-color: rgba(0,0,0,0.2);
      }

      .mat-form-field-label {
         color: #AAA;
      }
   }
}
