<mat-toolbar color="primary">
   <mat-toolbar-row fxLayoutAlign="start center">
      <div fxLayoutAlign="start center" class="overflow-hidden" fxFlex="0 0 auto">
         <img src="/assets/images/logo.svg" alt="logo" class="logo" width="36" height="36">
         <span>{{title}}</span>
      </div>

      <mat-form-field fxFlex="grow" fxShow fxHide.lt-sm class="search" floatLabel="never" appearance="legacy">
         <mat-icon matPrefix inline="true">search</mat-icon>
         <input matInput type="search" (keyup.enter)="enterPressed()"
                placeholder="Searches Addresses, Blocks, Smart Contracts, TxHash, ..."
                [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field floatLabel="never" appearance="legacy" fxFlex="auto" fxShow fxHide.lt-md>
         <mat-select placeholder="Network" (selectionChange)="navigateTo($event)">
            <mat-option *ngFor="let link of links" [value]="link.url">{{link.title}}</mat-option>
         </mat-select>
      </mat-form-field>

      <span fxFlex="100%" fxHide fxShow.lt-sm></span>

      <div fxFlex="0 0 auto" fxAligh="stretch">
         <button mat-icon-button class="background primary-darker" (click)="toggleTheme(themeButton)">
            <mat-animated-icon #themeButton animateFromParent="true"
                               start="wb_sunny" end="nights_stay"></mat-animated-icon>
         </button>
      </div>

      <div fxFlex fxLayoutAlign="end" fxHide.gt-sm>
         <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
         </button>
      </div>
   </mat-toolbar-row>
   <mat-toolbar-row fxHide="true" fxShow.lt-sm>
      <mat-form-field fxFlex="grow" class="search" floatLabel="never">
         <mat-icon matPrefix inline="true">search</mat-icon>
         <input matInput type="search" (keyup.enter)="enterPressed()"
                placeholder="Searches Addresses, Blocks, Smart Contracts, TxHash, ..."
                [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
   </mat-toolbar-row>
</mat-toolbar>
