body {
    background: url(/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.body-content {
    margin-top: 160px;
}

form {
    margin-top:30px;
    width:420px;
}
p {
    color: #CCCCCC;
}
.main-title {
    color: #1487C8;
    font-weight: 600;
    font-size: 3em;
}

.btn-primary,.btn-primary:disabled {
    background-color: #1487C8 !important;
    margin-top:45px;
}

    .btn-primary:active, .btn-primary:hover:not(:disabled), .btn-primary:focus {
        background-color: #19aab4 !important;
    }

.alert{
    margin-top:20px;
}

.g-recaptcha {
    transform: scale(1.39);
    transform-origin: 0 0;
}