body {
    background: url(/images/background.jpg) no-repeat #f3f3f4;
    background-size: cover;
}

.body-content {
    margin-top: 100px;
}

form{
    margin-top:30px;
    width:350px;
}
p {
    color: #CCCCCC;
}
.main-title {
    color: #1487C8;
    font-weight: 600;
    font-size: 3em;
}

.btn-primary {
    background-color: #1487C8;
}

.alert{
    margin-top:20px;
}