.header {
   padding: 5px 3px;
}

.transaction-amount {
   text-align: left;
}

.transaction-fees {
   text-align: right;
}


.arrow {
   text-align: center;
   margin: 10px;

   .mat-icon {
      font-size: 40px;
      width: 100%;
      height: 100%;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      border-radius: 30px;
   }
}

.tx-output {
   -ms-align-content: end;
   -webkit-align-content: end;
   align-content: end;
}
