<mat-card>
   <div *ngIf="showHeader" fxLayout="row wrap" class="header background stacked">
      <app-hash-view fxFlex="0 1 auto"
                     [label]="'Tx Id'" [hash]="transaction.txId"
                     hashType="transaction" enableRoute></app-hash-view>
      <span fxFlex fxFill></span>
      <div fxFlex="0 0 auto">{{transaction.firstSeen}}</div>
   </div>

   <mat-chip-list class="transaction-attributes">
      <mat-chip *ngIf="transaction.isCoinbase" color="warn" selected>Coinbase</mat-chip>
      <mat-chip *ngIf="transaction.isCoinstake" color="warn" selected>Coinstake</mat-chip>
   </mat-chip-list>

   <mat-card-content fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-evenly stretch"
                     fxLayout.lt-md="column" fxLayoutAlign.lt-md="center stretch">

      <div class="tx-inputs background stacked"
           fxFlex.gt-sm="50%">
         <div *ngFor="let input of transaction.inputs">
            <div class="address" *ngIf="input.address">
               <app-address-view fxFlex="0 1 auto"
                                 [address]="input.address"
                                 enableRoute></app-address-view>
            </div>
            <div class="amount"><app-balance></app-balance></div>
            <div class="previous-output">PREVIOUS_OUTPUT</div>
         </div>
      </div>

      <div *ngIf="transaction.outputs.length > 0" class="arrow"
           fxFlexAlign="center" fxFlex="0 0 auto"
           fxLayout.gt-sm="row"
           fxLayout.lt-md="column" fxLayoutAlign.lt-md="center">
         <mat-icon class="background accent"
                   fxHide.lt-md>arrow_forward</mat-icon>
         <mat-icon class="background accent"
                   fxHide fxShow.lt-md>arrow_downward</mat-icon>
      </div>

      <div *ngIf="transaction.outputs.length > 0" class="tx-outputs background stacked"
           fxFlex.lt-md="1 1 auto"
           fxFlex.gt-sm="50%" class.gt-sm="">
         <div *ngFor="let output of transaction.outputs" class="tx-output"
              fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end center">
            <div class="address">
               <ng-container *ngIf="output.address; then address else noAddress"></ng-container>
               <ng-template #address>
                  <app-address-view fxFlex="0 1 auto" fxFlexAlign="flex-end"
                                    [address]="output.address"
                                    enableRoute></app-address-view>
               </ng-template>
               <ng-template #noAddress>
                  <div fxFlex="0 1 auto" fxFlexAlign="flex-end">UNSPENDABLE</div>
               </ng-template>
            </div>
            <div class="amount"><app-balance [balance]="output.amount"></app-balance></div>
            <!--<div class="spent-output">SPENT / UNSPENT</div>-->
         </div>
      </div>
   </mat-card-content>

   <mat-card-actions fxLayout="row">
      <div class="transaction-amount"
           fxFlex fxLayout="column">
         <div>Total Spent</div>
         <app-balance [balance]="transaction.totalSpent"></app-balance>
      </div>
      <div class="transaction-fees"
           fxFlex fxLayout="column">
         <div>Fees</div>
         <app-balance [balance]="transaction.fee"></app-balance>
      </div>
   </mat-card-actions>
</mat-card>
