<mat-card>
   <div *ngIf="showHeader" fxLayout="row wrap" class="header background accent">
      <app-hash-view fxFlex="0 1 auto"
                     [label]="'Tx Id'" [hash]="transaction.hash"
                     hashType="transaction" enableRoute="true"></app-hash-view>
      <span fxFlex fxFill></span>
      <div fxFlex="0 0 auto">{{transaction.firstSeen.toLocaleString()}}</div>
   </div>
   <mat-card-content>
      <div class="tx-input">
         <div *ngFor="let input of transaction.inputs">
            <div class="address">
               <app-address-view [address]="input.address"></app-address-view>
            </div>
            <div class="amount"><app-balance></app-balance></div>
            <div class="previous-output">PREVIOUS_OUTPUT</div>
         </div>
      </div>
      <div class="arrow"><mat-icon>arrow_forward</mat-icon></div>
      <div class="tx-output">
         <div *ngFor="let output of transaction.outputs">
            <div class="address">
               <a *ngIf="!!output.address" [routerLink]="['/addresses', output.address]">{{output.address}}</a>
            </div>
            <div class="amount"><app-balance [balance]="output.amount"></app-balance></div>
            <div class="spent-output">SPENT / UNSPENT</div>
         </div>
      </div>
   </mat-card-content>
   <mat-card-footer fxLayout="row">
      <div><span>Total Spent</span><app-balance [balance]="transaction.totalSpent"></app-balance></div>
      <div><span>Fee</span><app-balance [balance]="transaction.fee"></app-balance></div>
   </mat-card-footer>
</mat-card>
