<mat-card>
   <mat-card-subtitle *ngIf="showHeader">
      <div fxLayout="row wrap" class="header" fxLayoutAlign="space-between center">
         <app-hash-view fxFlex="0 1 auto"
                        [label]="'Tx Id'" [hash]="transaction.txId"
                        hashType="transaction" enableRoute></app-hash-view>
         <div fxFlex="0 0 auto">{{transaction.firstSeen | date:'medium'}}</div>
      </div>
      <mat-divider [inset]="true"></mat-divider>
   </mat-card-subtitle>

   <mat-card-content fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-evenly stretch"
                     fxLayout.lt-md="column" fxLayoutAlign.lt-md="center stretch">

      <div class="tx-inputs background stacked"
           fxFlex.gt-sm="50%">
         <div *ngFor="let input of transaction.inputs" class="tx-input">
            <div class="wrapper overflow-hidden" fxLayout="column">
               <div class="amount">
                  <app-balance [balance]="input.amount"></app-balance> from
               </div>
               <div class="from">
                  <div class="address" *ngIf="input.address; else noInputAddress">
                     <app-address-view fxFlex="0 1 auto"
                                       [address]="input.address"
                                       enableRoute>
                     </app-address-view>
                  </div>
                  <div>
                     <copy-to-clipboard [cbContent]="input.prevOut?.hash" successMessage="Previous transaction hash has been copied to clipboard!"></copy-to-clipboard>
                     <button mat-raised-button class="previous-output" [routerLink]="['/transaction', input.prevOut?.hash]">Previous output</button>
                  </div>
                  <ng-template #noInputAddress>
                     <div class="previous-output">
                        <app-hash-view fxFlex="0 1 auto"
                                       label="previous output" [hash]="input.prevOut?.hash"
                                       hashType="transaction" enableRoute></app-hash-view>
                     </div>
                  </ng-template>
               </div>
            </div>
         </div>
      </div>

      <div *ngIf="transaction.outputs.length > 0" class="arrow"
           fxFlexAlign="center" fxFlex="0 0 auto"
           fxLayout.gt-sm="row"
           fxLayout.lt-md="column" fxLayoutAlign.lt-md="center">
         <mat-icon class="background accent"
                   fxHide.lt-md>arrow_forward</mat-icon>
         <mat-icon class="background accent"
                   fxHide fxShow.lt-md>arrow_downward</mat-icon>
      </div>

      <div *ngIf="transaction.outputs.length > 0" class="tx-outputs background stacked"
           fxFlex.lt-md="1 1 auto"
           fxFlex.gt-sm="50%">
         <div *ngFor="let output of transaction.outputs" class="tx-output">
            <ng-container [ngSwitch]="getOutputType(output)">
               <ng-container *ngSwitchCase="outputType.SmartContract"
                             [ngTemplateOutlet]="smartContractOutput" [ngTemplateOutletContext]="{ output: output}"></ng-container>
               <ng-container *ngSwitchCase="outputType.Unspendable"
                             [ngTemplateOutlet]="unspendableOutput" [ngTemplateOutletContext]="{ output: output}"></ng-container>
               <ng-container *ngSwitchDefault
                             [ngTemplateOutlet]="spendableOutput" [ngTemplateOutletContext]="{ output: output}"></ng-container>
            </ng-container>
         </div>
      </div>
   </mat-card-content>

   <mat-card-actions fxLayout="row">
      <div class="transaction-amount"
           fxFlex fxLayout="column">
         <div>Total Spent</div>
         <app-balance [balance]="transaction.totalSpent"></app-balance>
      </div>
      <div class="transaction-fees"
           fxFlex fxLayout="column" fxLayoutAlign="start end">
         <div>Fees</div>
         <app-balance [balance]="transaction.fee"></app-balance>
      </div>
   </mat-card-actions>
</mat-card>


<ng-template #smartContractOutput let-output="output">
   <div class="wrapper smart-contract-output" fxLayout="column" fxLayoutAlign="start end">
      <div class="amount">
         <app-balance [balance]="output.amount"></app-balance>
      </div>
      <div class="smart-contract-detail" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
         <button mat-raised-button [routerLink]="['/smartcontract/action/', transaction.txId]"><chip color="accent">Smart Contract Action</chip></button>
      </div>
   </div>
</ng-template>


<ng-template #unspendableOutput let-output="output">
   <div class="wrapper overflow-hidden op-return" fxLayout="column" fxLayoutAlign="start end">
      <div class="burnt">
         <app-balance [balance]="output.amount"><span class="pre"> burnt</span></app-balance>
      </div>
      <mat-expansion-panel class="overflow-scroll-x">
         <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="end center">
               <div>
                  <copy-to-clipboard [cbContent]="output.scriptPubKey.hash" successMessage="OP_RETURN content has been copied to clipboard!"></copy-to-clipboard>
                  <chip>OP_RETURN</chip>
               </div>
            </mat-panel-title>
         </mat-expansion-panel-header>

         <div matExpansionPanelContent>
            <mat-tab-group headerPosition="below" color="accent">
               <mat-tab label="Raw">
                  <div class="op-return-content">
                     {{output.scriptPubKey.hash}}
                  </div>
               </mat-tab>
               <mat-tab label="Data" matTooltip="OP_RETURN data converted from HEX to ASCII">
                  <div class="op-return-content">
                     {{getOpReturnHexToAscii(output)}}
                  </div>
               </mat-tab>
            </mat-tab-group>

         </div>
      </mat-expansion-panel>
   </div>
</ng-template>

<ng-template #spendableOutput let-output="output">
   <div class="wrapper overflow-hidden" fxLayout="column" fxLayoutAlign="start end">
      <div class="amount">
         <app-balance [balance]="output.amount"></app-balance> to
      </div>
      <div class="address" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
         <app-address-view fxFlex="0 1 auto" fxFlexAlign="flex-start"
                           [address]="output.address"
                           enableRoute></app-address-view>
      </div>
   </div>
</ng-template>
