@mixin counter($counterName) {
   counter-increment: $counterName;
   content: "#" counter($counterName);
   font-size: 0.8em;
   opacity: 0.4;
   display: flex;
   flex: 0 0 auto;
   justify-content: center;
   flex-direction: column;
   margin: 5px 0;
   @content;
}

@mixin counter-base-style() {
   flex-direction: row;
   box-sizing: border-box;
   display: flex;
   align-items: stretch;
   max-height: 100%;
   @content;
}


mat-card {
   background: inherit !important;
}

.header {
   padding: 5px 3px;
}

.transaction-attributes {
   margin-left: -8px;
   margin-right: -8px;
   padding: 4px 0;

   > ::ng-deep.mat-chip-list-wrapper {
      margin-top: -12px;
   }

   mat-chip {
      margin: 0 4px;
   }
}

.transaction-amount {
   text-align: left;
}

.transaction-fees {
   text-align: right;
}

.arrow {
   text-align: center;
   margin: 10px;

   .mat-icon {
      font-size: 40px;
      width: 100%;
      height: 100%;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      border-radius: 30px;
   }
}

.address {
   overflow: hidden;
   width: 100%;
}

.tx-inputs {
   margin-left: -8px;
   position: relative;
   counter-reset: in-index -1;

   .tx-input {
      @include counter-base-style() {
         place-content: stretch flex-start;
      }


      > * {
         margin-left: 3px;
      }

      &:before {
         @include counter(in-index) {
            padding-right: 2px;
            border-right: 1px currentcolor solid;
         }
      }

      &:not(:last-child) {
         margin-bottom: 5px;
      }
   }
}

.tx-outputs {
   margin-right: -8px;
   text-align: end;
   position: relative;
   counter-reset: out-index -1;

   .tx-output {
      @include counter-base-style() {
         place-content: stretch flex-end;
      }

      > * {
         margin-right: 3px;
      }

      &:after {
         @include counter(out-index) {
            padding-left: 2px;
            border-left: 1px currentcolor solid;
            border-left: 1px currentcolor solid;
         }
      }

      .pre {
         white-space: pre;
      }

      &:not(:last-child) {
         margin-bottom: 5px;
      }

      .op-return {
         user-select: none;

         ::ng-deep {
            mat-tab-body {
               padding-bottom: 5px;
               user-select: text;
            }

            .mat-expansion-panel {
               background: transparent;
            }

            .mat-expansion-panel-body {
               overflow-x: auto;
            }

            .mat-tab-label {
               height: auto !important;
            }
         }

         .op-return-content {
            white-space: nowrap;
         }
      }
   }
}
