.sidenav-breadcrumbs {
   height: 35px;
   font-size: 16px;
   font-weight: bold;
   overflow: auto;
   padding: 0 5px 0 5px;

   .sidenav-breadcrumb-span {
      display: flex;

      .sidenav-breadbutton {
         padding: 0 5px 0 0;

         &[disabled].last {
            font-style: italic;
            color: currentColor;
            font-weight: normal;
         }
      }

      .sidenav-breaddiv {
         align-self: center;
      }
   }
}
