<mat-card>
   <mat-card-header>
      <mat-card-title><h1>Block #{{block?.additionalInformation?.height}}</h1></mat-card-title>
   </mat-card-header>
   <mat-card-subtitle>
      <b>Block Hash</b> {{block?.additionalInformation?.blockId}}
   </mat-card-subtitle>

   <mat-card-content class="block-stats-summary"
                     fxLayout="row wrap" fxLayoutGap="16px"
                     fxLayout.lt-sm="column" fxLayoutGap.lt-sm="10px" ngClass.lt-sm="as-column">
      <div fxFlex>
         <h3 class="title">Time</h3>
      </div>
      <div fxFlex>
         <h3 class="title">Total Amount</h3>
      </div>
      <div fxFlex>
         <h3 class="title">Total Fees</h3>
      </div>
      <div fxFlex>
         <h3 class="title">Confirmations</h3>
      </div>
   </mat-card-content>
</mat-card>
<!--<h4 class="">Summary</h4>
<div class="list-group-item my-4-x">
   <table class="table table-striped">
      <tbody>
         <tr>
            <th><label>Block Reward</label></th>
            <td>
               <blockexplorer-balance [balance]="totalBlockReward"></blockexplorer-balance>
            </td>
         </tr>
         <tr>
            <th><label>Confirmations</label></th>
            <td>{{confirmations}}</td>
         </tr>
         <tr>
            <th><label>Height</label></th>
            <td>{{height}}</td>
         </tr>
         <tr>
            <th><label>Date</label></th>
            <td>{{time}}</td>
         </tr>
      </tbody>
   </table>
</div>-->
