<div fxLayout="row wrap" fxLayoutAlign="center center" class="layout-wrapper">
   <div fxFlex="100%">
      <mat-sidenav-container>
         <mat-sidenav #sidenav role="navigation">
            <app-sidenav-list [links]="links" (sidenavClose)="sidenav.close()"></app-sidenav-list>
         </mat-sidenav>
         <mat-sidenav-content>
            <app-menu-bar [links]="links" (find)="find($event)" (sidenavToggle)="sidenav.toggle()"></app-menu-bar>
            <app-busy-indicator [hidden]="found$ | async"></app-busy-indicator>
            <app-breadcrumb></app-breadcrumb>
            <main>
               <router-outlet [hidden]="!found"></router-outlet>
            </main>
         </mat-sidenav-content>
      </mat-sidenav-container>
   </div>
</div>
