<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <rewrite>
            <rules>
                <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false"/>
                </rule>
                <rule name="AngularJS Routes" stopProcessing="true">
                    <match url=".*"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="api/(.*)" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="/"/>
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <add name="ApiURIs-ISAPI-Integrated-4.0" path="/reset-password/*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
                 type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
        </handlers>
        <staticContent>
            <!-- Fix for font types not loading-->
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <remove fileExtension=".json" />
		    <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>
