<div class="address-view" fxLayout="row" fxLayoutAlign="center center">
   <button mat-icon-button fxFlex="0 0 auto"
           ngxClipboard *ngxClipboardIfSupported
           [cbContent]="address" (cbOnSuccess)="isCopied$.next(true)">
      <mat-animated-icon [animateFromParent]="true" [animate]="isCopied$ | async"
                         start="content_copy" end="done_outline"
                         colorStart="primary" colorEnd="primary"></mat-animated-icon>
   </button>
   <div class="wrapper overflow-hidden" fxFlex="0 1">
      <div fxLayout="column" class="content-block">
         <div class="label" *ngIf="label">{{label}}</div>
         <div *ngIf="enableRoute; else noRoute" class="address">
            <a [routerLink]="['/addresses', address]">{{address}}</a>
         </div>
      </div>
      <ng-content></ng-content>
   </div>
</div>

<ng-template #noRoute>
   {{address}}
</ng-template>
