<div class="address-view" fxLayout="row" fxLayoutAlign="center center">
   <button mat-icon-button fxFlex="0 0 auto">
      <mat-animated-icon ngxClipboard *ngxClipboardIfSupported
                         [cbContent]="hash" (cbOnSuccess)="isCopied$.next(true)"
                         start="content_copy" end="content_copy" colorStart="primary" colorEnd="primary" [animate]="isCopied$ | async"></mat-animated-icon>
   </button>
   <div fxFlex="0 1" fxLayout="column" class="content-block">
      <div class="label" *ngIf="label">{{label}}</div>
      <div *ngIf="enableRoute; else noRoute" class="address">
         <a [routerLink]="['/addresses', address]">{{address}}</a>
      </div>
   </div>
</div>

<ng-template #noRoute>
   {{address}}
</ng-template>
