@import '~@angular/material/theming';
@import 'common_layout';
@import '../functions/colors';

@include mat-core();

@mixin link-color($theme) {
   $accent: map-get($theme, accent);

   a {
      color: mat-color($accent, text);
   }
}

@mixin setup-basic-styles($colors: ()) {
   $colorList: primary, accent, warn;
   $variants: "", "-lighter", "-darker";

   body {
      @each $color in $colorList {
         @each $variant in $variants {
            #{"--" + $color + $variant + "-color"}: #{map-get($colors, $color + $variant)};
            #{"--text-" + $color + $variant + "-color"}: #{map-get($colors, $color + "-contrast" + $variant)};
         }
      }
   }

   @each $color in $colorList {
      @each $variant in $variants {
         .color.#{$color + $variant} {
            color: #{map-get($colors, $color + $variant)};
         }

         .background.#{$color + $variant} {
            background-color: #{map-get($colors, $color + $variant)};
            color: #{map-get($colors, $color + "-contrast" + $variant)};

            a {
               color: currentColor;
            }
         }
      }
   }

   .background.card {
      background-color: map-get($colors, background-card);
   }

   .background.stacked,
   mat-paginator.mat-paginator {
      background-color: map-get($colors, background);
   }
}

@mixin apply-common-style($theme) {
   $colors: build-colors($theme);

   @include link-color($theme);
   @include setup-basic-styles($colors);
}


@import '~highlight.js/styles/vs';

.dark-theme {
   @import '~highlight.js/styles/dark';
}
