@import '~@angular/material/theming';

@include mat-core();

@mixin link-color($theme) {
   $accent: map-get($theme, accent);

   a {
      color: mat-color($accent, text);
   }
}


@mixin setup-var($theme) {
   $primary: map-get($theme, primary);
   $accent: map-get($theme, accent);
   $warn: map-get($theme, warn);

   body {
      --primary-color: #{mat-color($primary)};
      --primary-lighter-color: #{mat-color($primary, lighter)};
      --primary-darker-color: #{mat-color($primary, darker)};
      --text-primary-color: #{mat-color($primary, default-contrast)};
      --text-primary-lighter-color: #{mat-color($primary, lighter-contrast)};
      --text-primary-darker-color: #{mat-color($primary, darker-contrast)};
   }

   body {
      --accent-color: #{mat-color($accent)};
      --accent-lighter-color: #{mat-color($accent, lighter-contrast)};
      --accent-darker-color: #{mat-color($accent, darker-contrast)};
      --text-accent-color: #{mat-color($accent, default-contrast)};
      --text-accent-lighter-color: #{mat-color($accent, lighter-contrast)};
      --text-accent-darker-color: #{mat-color($accent, darker-contrast)};
   }

   body {
      --warn-color: #{mat-color($warn)};
      --warn-lighter-color: #{mat-color($warn, "lighter-contrast")};
      --warn-darker-color: #{mat-color($warn, "darker-contrast")};
      --text-warn-color: #{mat-color($warn, default-contrast)};
      --text-warn-lighter-color: #{mat-color($warn, "lighter-contrast")};
      --text-warn-darker-color: #{mat-color($warn, "darker-contrast")};
   }
}

@mixin setup-basic-styles($theme) {
   $p: map-get($theme, primary);
   $a: map-get($theme, accent);
   $w: map-get($theme, warn);
   $b: map-get($theme, background);
   $f: map-get($theme, foreground);

   $primary: mat-color($p);
   $accent: mat-color($a);
   $warn: mat-color($w);
   $primary-contrast: mat-color($p, default-contrast);
   $accent-contrast: mat-color($a, default-contrast);
   $warn-contrast: mat-color($w, default-contrast);

   $background: mat-color($b, background);
   $background-card: mat-color($b, card);

   .color.primary {
      color: $primary;
   }

   .color.accent {
      color: $accent;
   }

   .color.warn {
      color: $warn;
   }

   .background.primary {
      background-color: $primary;
      color: $primary-contrast;
      @include anchor-color(currentColor);
   }

   .background.accent {
      background-color: $accent;
      color: $accent-contrast;
      @include anchor-color(currentColor);
   }

   .background.warn {
      background-color: $warn;
      color: $warn-contrast;
      @include anchor-color(currentColor);
   }

   .background.card {
      background-color: $background-card;
   }

   .background.stacked {
      background-color: $background;
   }

   mat-paginator.mat-paginator {
      background-color: $background;
   }
}

@mixin anchor-color($color) {
   a {
      color: $color;
   }
}

@mixin apply-common-style($theme) {
   @include link-color($theme);
   @include setup-var($theme);
   @include setup-basic-styles($theme);
}
