@import 'base';

@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-light-blue);
$accent: mat-palette($mat-deep-orange, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

@include apply-common-style($theme);
