<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!--Azure Storage account-->
	<add key="Azure.AccountName" value="nbitcoin"/>
	<!--Azure Storage account key-->
	<add key="Azure.Key" value="HzucvAvUTE89KZ8vB6nyvw4pz6YBkVYKq3JY8wWpejuD1HohhEr8J6a3D8em5Bb72UySVBzIpPTZ65tNfNzwJw=="/>
	<!--Prefix used before container and azure table (alpha num, optional, ex : prod)-->
	<add key="StorageNamespace" value=""/>
	<!-- Identifier for isolating checkpoints accross several indexer instances (default: default)-->
	<add key="CheckpointSetName" value=""/>
	<!--main or test (default: main)-->
	<add key="Bitcoin.Network" value=""/>
	<!--Connection to local node, only for mempool and current chain indexation (ex : localhost[:8333], if no port is specified, takes default one)-->
	<add key="Node" value="localhost"/>
</appSettings>


