<div class="hash-view" fxLayout="row" fxLayoutAlign="start center">
   <button mat-icon-button fxFlex="0 0 auto"
           ngxClipboard *ngxClipboardIfSupported
           [cbContent]="hash" (cbOnSuccess)="isCopied$.next(true)">
      <mat-animated-icon [animateFromParent]="true" [animate]="isCopied$ | async"
                         start="content_copy" end="done_outline"
                         colorStart="primary" colorEnd="primary"></mat-animated-icon>
   </button>
   <div class="wrapper overflow-hidden" fxFlex="0 1">
      <div fxLayout="column" class="content-block">
         <div class="label" *ngIf="label">{{label}}</div>
         <div class="hash">
            <ng-container *ngIf="enableRoute; else noRoute">
               <a [routerLink]="['/' + hashType , hash]">{{hash}}</a>
            </ng-container>
            <ng-template #noRoute>
               {{hash}}
            </ng-template>
         </div>
      </div>
      <ng-content></ng-content>
   </div>
</div>
